<div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-12 d-flex flex-sm-row flex-column">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="./images/about.png" alt="author" class="img-fluid" title="profile">
                          </figure>
                        </div>       
                        <div class="col-md-6 col-12 main_header_left">
                            
                            <p>Welcome to weather app</p>
                            <h1>I Am The Geo Archon<span class="text_color"> Rex Lapis</span>, Consultant at Wangsheng Funeral Parlour</h1>
                            <a href="/weather"><button>About Me</button></a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
